/*
- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)
- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)
*/
body
{
    background-color: hsl(217, 54%, 11%);
    font-family: Outfit, sans-serif;
    color: white;
    display: flex;
    flex-flow: row;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container
{
    background-color: hsl(216, 50%, 16%);
    display: flex;
    flex-flow: column nowrap;
    border-radius: 15px;
    padding: 15px;
    width: 20em;
    gap: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    position: relative;
    padding-bottom: 1.5em;
}
.cubo-hover
{
    display: flex;
    flex-flow: column nowrap;
    position: relative;
}
#cubo
{
    border-radius: 15px;
    transition: filter 0.3s ease;
}

.vista
{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0%;
    position: absolute;
    background-color: hsl(178, 100%, 50%);
    width: 100%;
    border-radius: 15px;
    height: 100%;
}
.vista:hover
{
    opacity: 60%;
    cursor: pointer;
}
h2
{
    margin: 0;
}
h2:hover
{
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}
.price-time
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

p,span
{
    color:hsl(215, 51%, 70%);
    margin: 0;
}
.price
{
    color:hsl(178, 100%, 50%);
    display: flex;
    gap : 5px;
    align-content: center;
    font-weight: 600;
}
.time
{
    display: flex;
    gap: 5px;
}
.linea
{
    width: 100%;
    height: 1px;
    box-sizing: border-box;
    border: 1px solid hsl(215, 51%, 25%);;
    margin: -5px;
    margin-bottom: -10px;
}
.autor
{
    display: flex;
    gap: 15px;
    align-items: center;
}
.avatar
{
    width: 30px;
    height: 30px;
    border:solid 1px white;
    border-radius: 100%;
}
.autor-name
{
    color: white;
}
.autor-name:hover
{
    color:hsl(178, 100%, 50%);
    cursor: pointer;
}